@CHARSET "UTF-8";

/* General */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 100%;
}

/* Header: contiene navbar y jumbotron */

header {
	background-color: blue;
	padding-top: 0;
	margin-top: 0;
	color: white;
}

/*Evitar que la navbar y el header no ocupen el 100% 
de la pantalla cuando hay scroll horizontal */
.header-contain {
	overflow-x: hidden;
}
a {
	color: blue;
}

.navbar {
	background-color: #002C73;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #f9e553;
}

.jumbotron {
	text-align: center;
	text-transform: uppercase;
}

/* Botones */ 

.btn-trigger {
	background-color: #002C73;
	color: white;
}

.btn-trigger:hover {
	background-color: #f9e553;
	color: grey;
}
/* Estilo login */

#login-body {
	background-color: #002C73;
}

#login-logo {
	margin: 0 auto;
}

.modal-login {
	margin-top: 200px;
	text-align: center;
}

.modal-login .form-control {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* Estilo popover promociones */
.popover-promo {
	color: black;
}

.popover-promo:hover {
	color: grey;
	text-decoration: none;
}

/* Estilo tablas - listas */
table {
	margin: 0 10px;
}

/* Estilo home - métricas */
.home-header {
	font-family: 'Yanone Kaffeesatz';
}

.user-statistics {
	margin-bottom: 30px;
}

.promo-statistics {
	margin-top: 40px;
}

.container-userStatistics, .container-promoStatistics {
	text-align: center;
	padding: 20px;
	height: 220px;
}

div.user-data, div.promo-data {
	display: inline-block;
	margin: auto;
	padding: 0;
	width: 200px;
	height: 220px;
	border: 3px solid #002C73;
	overlow: hidden;
}

div.big-user-data {
	display: inline-block;
	margin: auto;
	padding: 0;
	width: 400px;
	height: 220px;
	border: 3px solid #002C73;
	overlow: hidden;
}

.user-text, .promo-text {
	font-family: 'Bree Serif';
	font-size: 20px;
}

.user-number {
	font-size: 64px;
	font-family: 'Yanone Kaffeesatz';
	
}
