@CHARSET "UTF-8";

header {
	background-color: blue;
	padding-top: 0;
	margin-top: 0;
	color: white;
}

a {
	color: blue;
}

.navbar {
	background-color: #002C73;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #f9e553;
}

.main-area {
	text-align: center;
	text-transform: uppercase;
}